.music-page-container {
  width: 100%;
  background-color: lightslategrey;
}

@media screen and (max-width: 960px) {
  .music-items-container {
    list-style: none;
    flex-direction: column;
  }

  .single-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
  }

  .single-img {
    height: 20rem;
    width: 20rem;
  }

  .music-links {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    padding-top: 1rem;
  }
}
