.NavbarItems {
  background-image: url("./nav-banner.jpg");
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  height: 120px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: dimgrey;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.menu-icon {
  display: none;
}

.nav-menu-socials {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 15px;
  margin-left: 2rem;
}

.fab.fa-spotify {
  color: black;
}

.fab.fa-youtube {
  color: black;
}

.fab.fa-soundcloud {
  color: black;
}

.fab.fa-instagram {
  color: black;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 1000px;
    position: absolute;
    top: 0px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    /* background: black; */
    background-color: rgba(148, 30, 30, 1);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding-left: 0rem;
  }

  .nav-links {
    color: white;
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    margin-top: 2rem;
  }

  .nav-links:hover {
    background-color: dimgrey;
    border-radius: 0;
  }

  .nav-bar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .nav-menu-socials {
    padding-top: 15rem;
    margin-left: -1rem;
    position: relative;
    width: 100%;
    grid-gap: 5px;
  }
  .fab.fa-spotify {
    color: white;
  }

  .fab.fa-youtube {
    color: white;
  }

  .fab.fa-soundcloud {
    color: white;
  }

  .fab.fa-instagram {
    color: white;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
  }
}
