.store-container {
  height: 75vh;
  width: 100%;
  background-image: url("./store-bg.jpg");
}

.store-copy {
  display: flex;
  justify-content: center;
  padding-top: 6rem;
  color: white;
  font-size: 3.7rem;
  text-transform: uppercase;
  white-space: nowrap;
}

@media screen and (max-width: 960px) {
  .store-copy {
    font-size: 1.5rem;
  }
}
